# Python para data Science

NoteBook para principios basicos de python

## hola mundo

In [1]:
print("Hola Mundo")

Hola Mundo

In [2]:
15

15

In [4]:
print("Mi nombre es Kevin y tengo 24 años")

Mi nombre es Kevin y tengo 24 años

## Desafio

In [5]:
print("K\ne\nv\ni\nn")

K
e
v
i
n

In [ ]:
print("16 de abril del 2001")

16 de abril del 2001

In [ ]:
print("Año actual: 2025")

Año actual: 2025

# Variables

In [10]:
5

5

In [11]:
id(5)

140712949974056

In [12]:
edad = 24

In [ ]:
id(edad)

140712949974664

In [16]:
id(5)

140712949974056

In [17]:
numerocinco = 5

In [18]:
id(5)

140712949974056

In [19]:
nombre = "Kevin"

In [20]:
nombre

'Kevin'

In [21]:
id(nombre)

2532938606576

In [22]:
id('Kevin')

2532938606576

## Nombres prohibidos en variables

que comiencen con numeros, que lleven espacios y palabras reservadas como funciones

# Tipos de variables

Cambian dependiendo el objeto

### variable entera

In [1]:
edad = 24
type(edad)

int

### variables decimales

In [2]:
promedio = 8.5
type(promedio)

float

### Varibale en tipo cadena

In [4]:
nombre = "Kevin"
type(nombre)

str

### Varibles Boleanas

In [5]:
v = True
type(v)

bool

### Ficha

* Nombre: Felipe Camacho
* Edad 11 años
* Promedio 9.7
* Aporvado = Verdadero

In [7]:
nombre = "Felipe Camacho"
edad = 11
promedio = 9.7
aprovado = True

print(nombre,edad,promedio,aprovado)

Felipe Camacho 11 9.7 True