# Python para data Science

NoteBook para principios basicos de python

## hola mundo

In [34]:
print("Hola Mundo")

Hola Mundo

In [1]:
15

15

In [2]:
print("Mi nombre es Kevin y tengo 24 años")

Mi nombre es Kevin y tengo 24 años

## Desafio

In [3]:
print("K\ne\nv\ni\nn")

K
e
v
i
n

In [4]:
print("16 de abril del 2001")

16 de abril del 2001

In [5]:
print("Año actual: 2025")

Año actual: 2025

# Variables

In [6]:
5

5

In [7]:
id(5)

140732867085352

In [8]:
edad = 24

In [9]:
id(edad)

140732867085960

In [10]:
id(5)

140732867085352

In [11]:
numerocinco = 5

In [12]:
id(5)

140732867085352

In [13]:
nombre = "Kevin"

In [14]:
nombre

'Kevin'

In [15]:
id(nombre)

1605869846912

In [16]:
id('Kevin')

1605869846912

## Nombres prohibidos en variables

que comiencen con numeros, que lleven espacios y palabras reservadas como funciones

# Tipos de variables

Cambian dependiendo el objeto

### variable entera

In [17]:
edad = 24
type(edad)

int

### variables decimales

In [18]:
promedio = 8.5
type(promedio)

float

### Varibale en tipo cadena

In [19]:
nombre = "Kevin"
type(nombre)

str

### Varibles Boleanas

In [20]:
v = True
type(v)

bool

### Ficha

* Nombre: Felipe Camacho
* Edad 11 años
* Promedio 9.7
* Aporvado = Verdadero

In [21]:
nombre = "Felipe Camacho"
edad = 11
promedio = 9.7
aprovado = True

print(nombre,edad,promedio,aprovado)

Felipe Camacho 11 9.7 True

In [22]:
print(type(nombre),type(edad),type(promedio),type(aprovado))

<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

|cargo|cantidad|salario|
|:----|:------:|:-----:|
|vigilante|5|300|
|docente|16|500|
|coordinador|2|600|


## obtener

* cantidad total de empleados
* diferencia entre el salario mas bajo y el mas alto
* el promedio ponderado de los salarios de los empleados de la escuela

In [23]:
c_vigilante = 5
s_viligante = 300

In [24]:
c_docente = 16
s_docente = 500

In [25]:
c_coordilador = 2
s_coordinador = 600

### total de empleados

In [26]:
total_empleados = c_vigilante + c_docente + c_coordilador
total_empleados

23

### diferencia de salarios

In [27]:
diferencia_salario = s_coordinador - s_viligante
diferencia_salario

300

### promedio ponderado de salarios

In [28]:
promedio = (
    c_vigilante * s_viligante + c_docente * s_docente + c_coordilador * s_coordinador
) / total_empleados
promedio

465.2173913043478

## Cadenas de Texto o Strings

In [29]:
text = 'Alura'

In [30]:
type(text)

str

Hay metodos que nos ayudan a manipular un objeto como un texto

### Situacion

En una variable con un nombre, se nesecita darle tratamiento para darle un mejor formato antes de integrarla al sistema

In [31]:
text = " Micaela de los Santos "
id(text)

1605869937264

### convertir todo a mayusculas

In [32]:
text.upper()

' MICAELA DE LOS SANTOS '

### convertir a minusculas

```python
str.lower()
```

In [33]:
text.lower()

' micaela de los santos '

## quitar espacios

```python
str.strip()
```

In [35]:
text.strip()

'Micaela de los Santos'

### reemplar texto anituguo por texto nuevo

```python
str.replace(antiguo, nuevo)
```

In [37]:
text.replace("y","t")

' Micaela de los Santos '

In [38]:
text

' Micaela de los Santos '

In [39]:
new_text = text.strip().replace("y","t").upper()
new_text

'MICAELA DE LOS SANTOS'

In [40]:
id(new_text)

1605870463600

In [41]:
id(text)

1605869937264

In [42]:
text = text.strip().replace("y","t").upper()
text

'MICAELA DE LOS SANTOS'

In [43]:
id(text)

1605870469360